

.app-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  /* border: 1px solid gray; */
  padding: 5px;
  text-align: center;
  align-items: stretch;
}
.left-nav {
  width: 25%;
  margin: auto;
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
}
.chat-window {
  width: 65%;
  margin: auto;
  border: 1px solid gray;
  padding: 5px;
  text-align: left;
  align-items: stretch;
}
.chat {
  margin: auto;
  border: 1px solid gray;
  padding: 5px;
  text-align: left;
  align-items: stretch;
}